hr {
	background-color: #FF8811;
	height: 2px;
}


 .fancy-text {
	font-family: 'Architects Daughter', sans-serif;   /* 1st font is the custom, 2nd is the fallback */
}



/* Jumbotron ================================= */

.jumbotron {
	text-align: center;
	background-color: #FF8811;
	color: white;
}

.jumbotron h1 {
	text-shadow: 4px 4px black;
}

.jumbotron p {
	width: 65%;
	color: black;
}

.jumbotron small {
	color: white;
}



/* Pics ================================= */

#keyboard-cat-pic {
	border-radius: 100%;
}



class="fancy-text"